<h1>Know your Enemy</h1>
<p>To prepare for the upcoming Zombie Apocalypse make sure you are caught up on reading</p>
<img src=http://g-ecx.images-amazon.com/images/G/01/ciu/60/dc/20eb51c88da035b06e38d110.L.jpg /><br>
<a href=http://www.amazon.com/The-Zombie-Survival-Guide-Protection/dp/1400049628/ref=cm_cmu_pg__header>Grab your Copy from Amazon</a><br>
or 
<a href=http://ilsweb.lvccld.org/search~S12?/XThe+Zombie+Survival+Guide&SORT=D/XThe+Zombie+Survival+Guide&SORT=D&SUBKEY=The+Zombie+Survival+Guide/1%2C6%2C6%2CB/frameset&FF=XThe+Zombie+Survival+Guide&SORT=D&4%2C4%2C> The Las Vegas Library</a>